h1, .container {
 	color: #8F8E8C;
 	font-size: 24px;
 	text-align: left;
 	background-color: #F7E771;
 	padding: 50px;
 	display: flex;
 	margin-bottom: 20px;
 	margin-top: 0;
 	justify-content: space-between;


 }
 .container .item{
 	
 	color: #7F8389;
 	justify-content: center;
    align-items: center;
    flex-direction: row;
    display: inline;
	margin: 0px 3px;

 }
 a {

    text-decoration: none;
 }
body {
		font-family: Arial, Verdana, sans-serif;
		font-size: 90%;
		color: #666;
		margin: 0;
		background-image: url("image/nat.jpg");
	}
	.box p {
		margin: 0px;
		margin-left: 340px;
		margin-right: 100px;
		font-size: 24px;
		vertical-align: top;
		margin-top: 30px;
		padding-top: 30px;
		text-align: left;
		text-indent: 0.10em;
	}
	.box {
		box-shadow: 0px 5px 10px 20px rgba(0, 0, 0, .5);
		border-radius: 80px;
		background-color: #f8f8f8;
		height: 600px;
		margin-top: 100px;
		padding: 5px;
  		margin: 60px;
	}
	ul.custom-list {
        list-style-type: none;
    }

    ul.custom-list li::before {
        content: url('image/icon-plus.png');
        margin-right: 10px;
    }

	li {
		list-style-image: url("../images/icon-plus.png");
		line-height: 1.6em;
		margin-left: 450px;
		font-size: 20px;
	}

	table {
		border-spacing: 0px;
		margin-left: 450px;
		margin-right: 150px;
		padding: 50px;
	}
	label {
		font-size: 16px;
	}
	input.text {
		font-size: 16px;
	}

	th, td {
		padding: 5px 30px 5px 10px;
		border-spacing: 0px;
		font-size: 90%;
		margin: 0px;
	}
			
	th, td {
		text-align: left;
		background-color: #e0e9f0;
		border-top: 1px solid #f1f8fe;
		border-bottom: 1px solid #cbd2d8;
		border-right: 1px solid #cbd2d8;
	}
	
	tr.head th {
		color: #fff;
		background-color: #90b4d6;
		border-bottom: 2px solid #547ca0;
		border-right: 1px solid #749abe;
		border-top: 1px solid #90b4d6;
		text-align: center;
		text-shadow: -1px -1px 1px #666666;
		letter-spacing: 0.15em;
	}
	
	td {
		text-shadow: 1px 1px 1px #ffffff;
	}

	tr.even td, tr.even th {
		background-color: #e8eff5;
	}

	tr.head th:first-child {
		-webkit-border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		border-top-left-radius: 5px;
	}

	tr.head th:last-child {
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		border-top-right-radius: 5px;
	}
	.content {
  		border: 5px solid #e8eff5;
  		padding: 70px;
  		margin: 90px;
  		background-color: #D0E3F1;
  		border-radius: 30px;
	}

	fieldset {
		width: 460px;
		height: 310px;
		border: 5px solid #d6d6d6;
		background-color: #ffffff;
		line-height: 1.6em;
		margin-left: 140px;
		padding: 140px;
		margin-bottom: 60px;
		margin: auto;
	}

	legend {
		font-style: italic;
		color: #666666;
		font-size: 24px;
	}

	input[type="text"] {
		width: 190px;
		height: 20px;
		border: 1px solid #d6d6d6;
		padding: 8px;
		outline: none;
	}

	input[type="text"]:focus,
	input[type="text"]:hover {
		background-color: #d0e2f0;
		border: 1px solid #999999;
	}

	input[type="submit"] {
		border: 1px solid #006633;
		background-color: #009966;
		color: #ffffff;
		border-radius: 5px;
		padding: 5px;
		margin-top: 10px;
	}

	input[type="submit"]:hover {
		border: 1px solid #006633;
		background-color: #00CC33;
		color: #ffffff;
		cursor: pointer;
	}
	span{
		font-size: 16px;
	}

	.title {
		float: left;
		width: 160px;
		clear: left;
		font-size: 22px;
	}
	.submit {
		margin-bottom: 30px;
		width: 310px;
		text-align: justify;
		text-indent: 210px;
	}
	footer {
		background-color: #28766B;
		color: #FFFFFF;
		font-size: 24px;
		font-weight: 200;
		padding: 28px;

	}
	footer .p {
  width: 10px;
  height: 10px;
}

input[type="submit"] {
    background-color: #0177B8;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    
}

input[type="submit"]:hover {
    background-color: #857CF7;
    color: #ffffff;
    cursor: pointer;
    
}
.footer-content input[type="submit"] {
    background-color: #0177B8;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 1300px;
    border-radius: 16px;
 
}
input[type="submit"]:hover {
    background-color: #857CF7;
    color: #ffffff;
    cursor: pointer;
}
footer a {
	padding-top: 30px;
	color: #413D3E;
}
footer a:hover {
	color: #E9FCFF;
}